$circle-shadow: 0 4px 4px rgba(26, 53, 71, 0.25),
  0 0 0 1px rgba(26, 53, 71, 0.07);
$circle-background: #e9e5d5;

.theme-toggle-wrap {
  position: absolute;
  top: 20px;
  .theme-toggle,
  .circle {
    height: 31px;
    cursor: pointer;
    -webkit-transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
    transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
  }
  .theme-toggle {
    width: 60px;
    margin: 0 auto;
    border: 2px solid var(--toggle-border);
    background: var(--toggle-background);
    border-radius: 27px;
    position: relative;
    display: inline-block;
    margin: 0 20px;
    transform: translateY(10px);

    .circle {
      margin-top: 5%;
      margin-left: var(--toggle-margin);
      width: 40%;
      height: 80%;
      border-radius: 50%;
      box-shadow: $circle-shadow;
      background: $circle-background;
    }
  }
}
